<header>
    <nav>
        <% if (user) { %>
            <div class="nav-buttons">
                <a class="btn btn-primary" href="/create-post">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"/><path d="M12 5v14"/>
                    </svg><span>CREATE POST</span>
                </a>
            </div>
            <a class="btn btn-secondary" href="/homepage">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/>
                </svg><span>LOG OUT</span>
            </a>
        <% } else { %>
            <div class="nav-buttons">
                <a class="btn btn-secondary absolute-top-right" href="/login"><span>LOG IN</span></a>
            </div>
        <% } %>
    </nav>
</header>