<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body>
    <%- include('includes/header') %>
  <div class="page-container">
    <div class="bg-gradient"></div>
    <div class="smoke-effect"></div>


    <div class="center-content">
      <div class="welcome-container">
        <div class="icon-container">
          <svg class="icon-large" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="9" cy="12" r="1"/><circle cx="15" cy="12" r="1"/><path d="M8 20v2h8v-2"/><path d="m12.5 17-.5-1-.5 1h1z"/><path d="M16 20a2 2 0 0 0 1.56-3.25 8 8 0 1 0-11.12 0A2 2 0 0 0 8 20"/>
          </svg>
          <h1 class="title-main">WELCOME</h1>
          
        </div>
        <form class="form-container" action="/register" method="POST">
            <% errors.forEach(error => { %> 
            <p class="notice"><%= error %></p>
            <% }) %>
            <h2>Create an account</h2>
          <div class="form-group">
            <label class="form-label" for="username">Username</label>
            <input type="text" id="username" name="username" class="form-input" autocomplete="off" required>
          </div>

          <div class="form-group">
            <label class="form-label" for="password">Password</label>
            <input type="password" class="form-input" id="password" name="password" autocomplete="off" required>
            <br/>
          </div>

          <button class="btn-submit">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('includes/footer') %>
</html>
